.vscode
*.pkl
*.pt
*.ckpt
*.csv
*.json
!*_id.csv
!dataset_construction/target_prediction_dataset/target_prediction_data/split_data_ID/*.csv
!dataset_construction/target_prediction_dataset/IDG_threshold/benchmark_validation_set/*.csv
!dataset_construction/target_prediction_dataset/IDG_threshold/external_validation_set/*.json
*.smi
*.out
*.pyc
*.txt
*.zip
*.DS_Store
*copy.py
ml_model
ml_model copy
*.egg-info
.VSCodeCounter
!web_core/admet_data/*/*.csv
!web_core/admet_data/*.csv
!web_core/predict_ref/data.csv
!web_core/predict_ref/data_ic50.csv
!web_core/predict_ref/split_info/*.csv
!web_core/predict_ref/split_info_ic50/*.csv
*.svg
!static/molsvg/emoji-frown.svg
templates_self_beta
!static/jsme/compilation-mappings.txt
*.pth
!static/target_data/*.csv
!static/target_data/*.xlsx
static/detail_csv/*
sql_file.txt
uwsgi*
dataset_construction/target_prediction_dataset/target_prediction_data
dataset_construction/target_prediction_dataset/target_prediction_data/human_blast_results_outfmt_6_deepsearch.tsv
dataset_construction/target_prediction_dataset/target_class/*
dataset_construction/target_prediction_dataset/IDG_threshold/chembl_dataset/*
web_core/admet_data/admet_group
web_core/admet_data/Regression data
web_core/admet_predictor/script/*
!dataset_construction/target_prediction_dataset/IDG_threshold/benchmark_validation_set/*
!dataset_construction/target_prediction_dataset/IDG_threshold/external_validation_set/*
web_core/admet_predictor/script/data/*