{% extends 'base.html' %}


{% block head %}
    <title>Contact</title>
{% endblock %}


{% block content %}

<header id="header" class="bg-gray py-1">
    <div class="fs-6 my-0 text-center">Contact</div>
</header>

<section class="py-2">
    <div class="container px-5">
        <!-- Contact form-->
        <div class=" rounded-3 py-5 px-4 px-md-5 mb-5">
        <!-- <div class="bg-light rounded-3 py-5 px-5 px-md-9 mb-9"> -->
            <div class="text-center mb-5">
                <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div> -->
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <h1 class="fw-bolder h4">Team of intelligence drug design and discovery</h1>
                <br/>
                <p class="text-center">
                    <div class="text-center">
                        <h5>State Key Laboratory of Quality Research in Chinese Medicines</h5>
                        <h5>Macau University of Science and Technology</h5>
                        <h5>Avenida WaiLong, Taipa, Macau(SAR), China</h5>
                    </div>
                    <br/>
                    <br/>

                        <a href="mailto:xjyao@must.edu.mo">Professor Xiaojun Yao</a><br>
                        <a href="mailto:yinxd14@lzu.edu.cn">Xiaodan Yin</a><br>
                        <a href="mailto:wangxr2018@lzu.edu.cn">Xiaorui Wang</a><br>


                </p>



            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block js %}
<script>

$(function() {
    $('#nav_contact').addClass("active");
});

</script>
{% endblock%}