{% extends 'base.html' %}



{% block head %}
    <title>404</title>
{% endblock %}


{% block content %}

<header id="header" class="bg-gray py-1">
    <div class="fs-6 my-0 text-center">404</div>
</header>

<div class="error">
    <div class="container-floud">
        <div class="col-xs-12 ground-color text-center">
            <div class="container-error-404">
                <br/>
                <h3 class="msg">OH! 404<span class="triangle"></span></h3><br/>
            </div>
            <h2 class="h1">Sorry! Page not found</h2><br/>
        </div>
    </div>
</div>

{% endblock %}

